<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ market.market_name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>{{ market.market_name }}</h1>
    <menu class="row">
        <a class="col-3" href="/">Main</a>
        <a class="col-3" href="/states">States</a>
        <a class="col-3" href="/cities">Cities</a>
        <a class="col-3" href="/revievs">Revievs</a>
    </menu>
    <h2>{{ market.market_name }}</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Column name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ market.market_name }}</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>{{ market.street }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ market.city_info.city }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ market.state_info.state_full }}</td>
        </tr>
        <tr>
            <th>Postcode</th>
            <td>{{ market.zip }}</td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>{{ market.lat }}</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{ market.lon }}</td>
        </tr>
        <tr>
            <th>Reviews</th>
            <td>
                {% for review in market.reviews %}
                User : {{ review.user_name }}, Review : {{ review.text }}, Rating : {{ review.rating }}
                <a class="btn btn-primary"
                   href="market?market_id={{ market.market_id }}&delete_review_id={{ review.review_id }}">delete</a><br><br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ market.rating() }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <h2>Add Reviews</h2>
    <form method="POST">
        <input type="hidden" name="market_id" value="{{ market.market_id }}">
        <table class="table table-responsive">
            <tbody>
            <tr>
                <td>Name</td>
                <td><input type="text" name="user_name" value="{{ user_name }}"></td>
            </tr>
            <tr>
                <td>Review</td>
                <td><input type="text" name="text" value="{{ text }}"></td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>
                    <select name="rating">
                        <option value="0" {% if rating== 0 %} selected {% endif %}>0</option>
                        <option value="1" {% if rating== 1 %} selected {% endif %}>1</option>
                        <option value="2" {% if rating== 2 %} selected {% endif %}>2</option>
                        <option value="3" {% if rating== 3 %} selected {% endif %}>3</option>
                        <option value="4" {% if rating== 4 %} selected {% endif %}>4</option>
                        <option value="5" {% if rating== 5 %} selected {% endif %}>5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input class="btn btn-primary" type="submit" value="Send"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>